<div id ="site">

	<!-- header -->
  <div id="header">
  	<h1>TabletopCast</h1>
   	<h2><%= @room.title %> - <%= @audio.name %></h2> <!-- Show Room ID instead of "Room Title" -->
  </div>

  <%= render "form.html", Map.put(assigns, :action, Routes.room_audio_path(@conn, :update, @room, @audio)) %>
</div>
