<div id ="site">

	<!-- header -->
  <div id="header">
  	<h1>TabletopCast</h1>
   	<h2><%= @room.title %></h2>
  </div>

  <%= render "form.html", Map.put(assigns, :action, Routes.room_path(@conn, :update, @room)) %>
</div>
