@charset "utf-8";
/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}

/* CSS Style für SoundPad */

* {
	box-sizing: border-box;	
}

html, body {
	position: relative;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	background: rgba(41,41,41,1);
	color: rgba(255,255,255,1);
}

#site {
	max-width: 720px;
	width: 100%;
	margin: 0px auto;
	padding: 20px;	
}

h1 {
text-align: center;
font-size: 38px;
margin-bottom: 10px;	
}

h2 {
text-align: center;
font-size: 24px;
padding-bottom: 5px;
margin-bottom: 10px;
border-bottom: 1px solid rgba(255,255,255,1);	
}

a, a:link, a:hover, a:focus, a:visited {
	color: rgba(255,255,255,1);
	text-decoration: none;	
}

#usercount {
	display: flex;
	flex-flow: row, nowrap;
	justify-content: center;
}

#usercount .button {
	height: 35px;
	padding: 10px 15px;	
}

.button.user {
	width: auto;
	margin-right: 10px;	
}
.button.usernumber {

}

#soundpad {
	padding: 10px 0px 0px 10px;
	margin: 0px auto;
	width: 100%;
}

.gm #soundpad {
	display: none;	
}

#main-controls {
	width: 100%;
	padding-top: 10px;
	border-bottom: 1px solid rgba(255,255,255,1);
}

#main-controls .row>*{
	margin: 0px 5px 10px 5px;
}

div.jumptoroom {
	display: flex;
	flex-flow: row nowrap;	
}

input.jumptoroom {
	height: 50px;
	margin: 0px 10px 0px 0px;
	border-radius: 3px;
	border: 0px;
	background: rgba(51,51,51,1);
	padding: 0px 10px 0px 10px;
	color: white;	
}

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

.field {
	flex-grow: 1;
	flex-shrink: 1;
	width: 100px;
	min-width: 200px;
	height: 70px;
	background: rgba(61,61,61,1);
	border-radius: 3px;
	padding: 10px 0px 0px 10px;
	margin: 0px 5px 10px 5px;
}

.field.play {
	background: rgba(61,91,61,1);
}

audio {
	display: none;
}

.controls {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
}

.playpause {
	width: 50px;
	height: 50px;
	overflow: hidden;
	flex-grow: 0;
	flex-shrink: 0;
}

.titlevolume {
	flex-grow: 2;
	flex-shrink: 2;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;	
	align-content: flex-start;
}

.volumeloop {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: stretch;	
	align-content: flex-end;
}

.button {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,0.25);
	border-radius: 3px;
	text-align: center;
	color: white;
	padding-top: 0px;
	border: 0px;
	text-decoration: none;
	cursor: pointer;	
}


a.button:hover {
	background-color: rgba(255,255,255,0.15);			
}

div.playpause a.button {
	display: none;	
}

div.play a.stop, div.stop a.play, div.play.pausable a.pause, div.stop.pausable a.stop {
	display: block;	
}

div.pausable a.stop {
	display: none;	
}

.title {
	width: 100%;
	height: 25px;
	padding-left: 10px;
	background: transparent;
	color: white;
	border: 0px;
}

.volume {
	width: 100px;
	height: 25px;
	margin-left: 9px;
	flex-grow: 1;
}

.loop {
	height: 25px;
	width: 15px;
}

/* Special Code */

input[type=range] {
  -webkit-appearance: none;
  background: transparent;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: rgba(0,0,0,0.25);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.25);
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid rgba(255,255,255,1);
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: rgba(255,255,255,1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.25);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: rgba(0,0,0,0.25);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.25);
}
input[type=range]::-moz-range-thumb {
  border: 1px solid rgba(255,255,255,1);
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: rgba(255,255,255,1);
  cursor: pointer;
}


/* Customize the label (the container) */
.loopbox {
  display: block;
  position: relative;

  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  float: left;
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.loopbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.loopicon {
	margin: 4px 0px 0px 0px;
	color: rgba(0,0,0,0.25);
	font-size: 20px;
	width: 20px;
	height: 20px;
	stroke: rgba(0,0,0,0.25);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.loopbox:hover input ~ .loopicon {
	stroke: rgba(255,255,255,1);
}

.loopbox input:checked ~ .loopicon {
	color: rgba(0, 200, 0, 0.5);
	stroke: rgba(0, 200, 0, 0.5);
}


.icon{
  width: 30px;
  height: 50px;
  stroke: rgba(255,255,255,1);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

#preloadSVG {
	display: none;	
}

/* -- BACKEND --*/

#roomlist {
	padding: 10px 0px 0px 10px;
	margin: 0px auto;
	width: 100%;
}

.column {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;	
}

.room {
	display: flex;
	width: 100%;	
	
}

.roomtitle, .roomlink  {
	background-color: rgba(0,0,0,0.25);
	border-radius: 3px;
	text-align: center;
	color: white;
	width: 150px;
	height: 35px;
	line-height: 35px;
	margin: 0px 5px 10px 5px;
	padding: 0px 10px;	
}

.roomtitle {
	flex-grow: 1;
}

.rbutton {
	display: block;
	position: relative;
	min-width: 60px;
	height: 35px;
	background-color: rgba(0,0,0,0.25);
	border-radius: 3px;
	text-align: center;
	color: white;
	padding: 0px 10px;
	margin: 0px 5px 10px 5px;
	line-height: 35px;
	border: 0px;
	text-decoration: none;
	cursor: pointer;
}

.rbutton:hover {
	background-color: rgba(255,255,255,0.15);
}

.roomlink {
	
}

.roomcontrol {
	display: flex;
	flex-flow: row nowrap;
	color: white;
	height: 35px;
	line-height: 35px;
	margin: 0px;
	
}

.roomshow {
	
}

.roomedit {
	
}

.roomdelete {
	
}

.ricon{
  width: 23px;
  height: 35px;
  stroke: rgba(255,255,255,1);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin-bottom: -12px;
}

/* ROOM DETAIL */

#soundlist {
	padding: 10px 0px 0px 10px;
	margin: 0px auto;
	width: 100%;
}

.sound {
	display: flex;
	width: 100%;	
	
}

.soundtitle {
	background-color: rgba(0,0,0,0.25);
	border-radius: 3px;
	text-align: center;
	color: white;
	width: 150px;
	height: 35px;
	line-height: 35px;
	margin: 0px 5px 10px 5px;
	padding: 0px 10px;	
	flex-grow: 1;
}

/* AUDIO-FORM */

form {
    display: flex;
    flex-flow: column nowrap;
}

.inputset {
    display: flex;
    flex-flow: row nowrap;
}

.inputset label {
	background-color: rgba(0,0,0,0.25);
	border-radius: 3px;
	text-align: center;
	color: white;
	width: 150px;
	height: 35px;
	line-height: 35px;
	margin: 0px 5px 10px 5px;
	padding: 0px 10px;
	flex-grow: 1;	
}

.inputset input {
	background-color: rgba(0,0,0,0.15);
	border-radius: 3px;
	text-align: center;
	color: white;
	width: 150px;
	height: 35px;
	line-height: 35px;
	border: 0px;
	margin: 0px 5px 10px 5px;
	padding: 0px 10px;
	flex-grow: 3;		
}

.inputset input:hover,.inputset input:active,.inputset input:focus {
	background-color: rgba(0,0,0,0.25);	
}

.inputset input[type=checkbox]  {
    flex-grow: 0;
    width: 33px;
}

.alert {
	border-radius: 3px;
	text-align: center;
	color: rgba(255,255,255,1);
	width: auto;
	height: 50px;
	line-height: 50px;
	margin: 0px 5px 10px 5px;
	padding: 0px 10px;
	flex-grow: 1;		
}

.alert-info {
	background-color: rgba(0,255,255,0.25);	
}

.alert-danger {
	background-color: rgba(255,0,0,0.25);	
}
.alert:empty {
  display: none;
}

